<app-nav [carrito]="carrito"
[products]="products"

></app-nav>
<div class="d-flex">
<app-filtro [products]="products"
(productos)="datosEnviados($event)"
(productos2)="datosEnviados($event)"
></app-filtro>
<div class="shop">
    <h1 (click)="me()">Online Shop Products:</h1>

    <div class="conte">
    <div class="card" *ngFor="let item of products">
     <img [src]="item.img" >
     <h2>{{item.nombre}}</h2>
     <span>US${{item.precio}}</span>
     <p>Default: <b>{{item.cantidad}}</b></p>

     <div>
        <button class="boton" (click)="add(item.id)" >Buy</button>
        <button class="boton" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  (click)="detalles(item)">Details</button>
     </div>
   <!---->
     
    </div>
    <div >
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title fs-5 text-center" id="staticBackdropLabel">Details</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="borrar()"></button>
            </div>
            <div class="modal-body" *ngFor="let item of items">
              <img [src]="item.img">
              <h2 class="fw-bold mt-1">{{item.nombre}}</h2>
              <p>{{item.description}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="borrar()">Close</button>
            </div>
          </div>
        </div>
    </div>
      </div>
</div>
</div>
</div>