<app-nav [carrito]="carrito"
[products]="products"

></app-nav>
<div class="d-flex">
<app-filtro [products]="products"
(productos)="datosEnviados($event)"
(productos2)="datosEnviados($event)"
></app-filtro>
<div class="shop">
    <h1 (click)="me()">Online Shop Products:</h1>

    <div class="conte">
    <div class="card" *ngFor="let item of products">
     <img [src]="item.img" >
     <h2>{{item.nombre}}</h2>
     <span>US${{item.precio}}</span>
     <p>Cantidad <b>{{item.cantidad}}</b></p>

     <div>
        <button class="boton" (click)="add(item.id)" >Comprar</button>
        <button class="boton" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="detalles(item)">Detalles</button>
     </div>

     
    </div>
    <div *ngFor="let item of products">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h1>{{item.nombre}}</h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
    </div>
      </div>
</div>
</div>
</div>