$rosa: rgb(214, 6, 186);

.filtro{
    width: 320px;
    height: 100vh;   
    border-right: 3px solid $rosa;
    margin-top: 20px;
    padding: 30px;
    font-size: 18px;
    padding-left: 55px;
    input{
        width: 200px;
        padding: 5px;
        border: 1px solid $rosa ;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .d-flex{
        border: 1px solid black;
        width: 200px;
    }
    #filtrar{
        width: 160PX;
      background-color: $rosa;
      color: white;
    font-weight: 500;
      border: none;
        padding: 5px;
    }
    #all{
        background-color: rgb(95, 48, 56);
        color: white;
        font-weight: 500;
        border: none;
        padding: 5px;
        border: 1px solid black;
       width: 40px;
    }
}

.green{
    padding: 10px;
    width: 16.5rem;
    margin-left: 0px;
    height: 3rem;
    border-radius: 10px;
    background-color: #07bc0c;
    margin-top: 50px;
    margin-left:-26px;
   
    span{
      
        display: block;
        width:25rem;
        font-size: 16.7px;
        font-weight: 500;
        color: white;
    }
}

.transition{
    -webkit-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
    -moz-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
    -ms-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out ;
    -o-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
    transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
    margin-left: 1500px;
    width: 200px;
    opacity: 0;
  }


  #viewportPendulum {
 
    animation: 3s swingViewport;
  }
  
  @keyframes swingViewport {
    0% {
      transform: translateX(-300px);
    }
    50% {
      transform: translateX(10px);
    }

    100%{
        transform: translateX(-300px);
    }
  }