.first {
    input{
        width: 400px;
      
    }
    #dos{
        margin-left: 40px;
    }
}
input{  
    margin-top: 20px;
        padding: 6px;
}
button{
    width: 840px;
    border: none;
    padding: 5px;
    background-color: green;
    color: white;
    margin-top:20px;
}
