.first {
    input{
        width: 400px;
      
    }
    #dos{
        margin-left: 40px;
    }
}
input{  
    margin-top: 20px;
        padding: 6px;
        width: 100%;
}
button{
    width: 840px;
    border: none;
    padding: 5px;
    background-color: green;
    color: white;
    margin-top:20px;
}

form{
    width: 40%;
  margin-top: 100px;
  margin-left: 20px;
    border: 1px solid black;
}
$rosa: rgb(214, 6, 186);
h1{
    color:$rosa;
    font-weight:500;
    font-size: 55px;
text-align: center;
margin-top: 100px;
}