
<app-nav></app-nav>

<h1>Who We Are</h1>
<div class="text-center">
<p>BOOM! by Cindy Joseph is the first pro-age cosmetic and skin care line for women of every generation.</p>

<p>Made with only quality ingredients, BOOM! is a groundbreaking cosmetic and skin care line that enhances the natural beauty of every woman—in every phase of life.
</p>

<p>Created by a makeup artist who became a silver-haired supermodel at age 49, BOOM! brings the revolutionary idea of “pro-age” to women’s cosmetics and skin care.
</p>
</div>
<div class="text-center mt-5">
<button class="btn" routerLink="/productos">See our Products</button>
</div>