<nav >
    <img src="../../../assets/logo-page.webp" >
    <ul>
        <li 
        ><mat-icon>store</mat-icon>Home</li>
    <li 
    ><mat-icon >rocket_launch</mat-icon>Products</li>
    <li 
    ><mat-icon>contact_support</mat-icon>About us</li>
   <li 
    ><mat-icon> mail_outline</mat-icon>Contact</li>
</ul>
<div class="cart">
    <mat-icon  class="carro" data-bs-toggle="modal" data-bs-target="#cartModal" >shopping_cart</mat-icon>
</div>
</nav>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">
            Your Shopping Cart
          </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
             
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.servi.carrito; let i=index">
                <td class="w-25">
                  <img [src]="item.img" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td >{{item.nombre}}</td>
                <td class="fw-bold">US${{item.precio}}</td>
               <td class="qty">
                <span (click)="sumar(item)">+</span>
                <span>{{item.cantidad}}</span>
                <span (click)="restar(item)">-</span>
               </td>
              
                <td>
                  <a href="#" class="btn btn-danger btn-sm" (click)="delete(item.id)" >
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table> 
         
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-success" (click)="checkout()">Checkout</button>
        </div>
      </div>
    </div>
  </div>