img{
    width: 100px;
    height: 100px;
}
h1{
    font-weight: bold;
    font-size: 40px;
    margin-top: 15px;
}
table{
  width: 80%;
 tr{
    font-size: 20px;
 }
  .td{
    font-size: 25px;
    padding-top: 30px;
  }
}
.botones{
    margin-left: 135px;
}

form{
  text-align: center;
  label{
    font-size: 20px;
    
  }
  input{
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 65%;
    margin-left: 20px;
  }

}

.total{
  
 margin-left: 58.5%;
font-size: 22px;

 span{
  margin-left: 10px;
  font-weight: bold;
 }
}
